/*
    I followed the SMACSS CSS Architecture:
    Base -- includes styles for basic HTML elements
    Layout -- includes styles for specific parts of the layout
    Modules -- includes styles for classes, these are reusable and combinable
    State -- includes styles related to changes in state

*/

@font-face {
    font-family: Avenir;
    src: url(../css/Avenir.otf) format('truetype');
  }

/**************************
Base Styles
***************************/

body {
    max-width: 95%;
    display: grid;
    color: #253b56;
    background-color: #cbdff8;
    font-family: 'EB Garamond', serif;
    line-height: 150%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Marck Script', cursive;
}

h1{
    font-size: 75px;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #253b56;
}

header {
    margin-top: 16px;
    display: grid;
    padding-bottom: 5px;
    border-bottom: 2px solid#253b56;
    padding-left: 48px;
    padding-right: 48px;
}


footer {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

footer ul {
    text-align: left;
    margin-left: 40%;
}

form {
    grid-column: 1;
    width:90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 6px double #253b56;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 5px 2px #253b56;
}

section h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-decoration: underline;
    text-align: center;
}

section figure {
    grid-column: 1/2;
    grid-row: 2/3;
}

section p {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-right: 20px;
}

section h3 {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
}

section ul {
    grid-column: 3/4;
    grid-row: 2/3;
}

/**************************
Layout Styles
***************************/

#logo {
    grid-column: 1/2;
}

#signup {
    font-family: 'Marck Script', cursive;
    border: 5px double white;
    background-color: #253b56;
    border-radius: 50px;
    grid-column: 4/5;
    margin: 25px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

#homebottominfo {
    font-family: 'Marck Script', cursive;
    border: 6px double white;
    background-color: #253b56;
    border-radius: 50px;
    margin: 12px 36px 12px 36px;
    text-align: center;
    color: white;
    font-size: 32px;
    max-width: 450px;
    padding: 0px 16px 0px 16px;
}

#homebottomsignup {
    font-family: 'Marck Script', cursive;
    border: 12px double rgb(149, 173, 238);
    background-color: #253b56;
    border-radius: 50px;
    margin: 12px 36px 12px 36px;
    text-align: center;
    color: white;
    font-size: 32px;
    max-width: 450px;
    padding: 0px 16px 0px 16px;
}

#icons img {
    width: 100%;
    box-shadow: 0px 0px 5px 2px #253b56;
}

#info {
    font-family: 'Marck Script', cursive;
    text-align: center;
    border: 5px double white;
    background-color: #253b56;
    color: white;
    border-radius: 50px;
    font-size: 40px;
}

#bottom {
    display:flex;
    flex-direction:row;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: space-around;
}

#weak {
    display:flex;
    flex-direction:column;
    font-family: 'Marck Script', cursive;
    text-align: center;
    margin: 18px 32px -24px 36px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 40px 20px white;
    font-size: 20px;
    max-width: 400px;
    padding: 28px 18px 0px 18px;
    height: 120px;
}

#icons {
    text-align: center;
}

#welcome {
    font-family: 'Marck Script', cursive;
    border: 5px double white;
    background-color: #253b56;
    border-radius: 50px;
    margin: 25px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 24px;
    font-size: 36px;
    line-height: 1.1em;

}

/**************************
Modules Styles
***************************/
.info {
    display: grid;
    max-width: 1020px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Avenir;
}

.info figure {
    text-align: center;
}

.imgwborder {
    border: 2px solid black;
}

.center {
    text-align: center;
}

.sectionp {
    margin-left: 24px;
    margin-top: 2px;
}

.mk {
    background-color: #d494ff;
    padding: 36px;
}

.mk-reg {
    background-color: #d494ff;
    padding: 36px;
    margin-top: 12px;
}

.ep {
    background-color: #94c6ff;
    padding: 36px;
}

.hs {
    background-color: #ffbb94;
    padding: 36px;
}

.ak {
    background-color: #adff94;
    padding: 36px;
}

.intro {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin-top: 36px;
    font-size: 32px;
}

.original-proj {
    text-decoration: underline;
}

.signup {
    font-family: 'Marck Script', cursive;
    border: 6px double #253b56;
    border-radius: 30px;
    padding: 20px 20px 0px 20px;
    box-shadow: 0px 0px 5px 2px #253b56;
    max-width: 1020px;
    width: 90%;
    margin: 0 auto;
    margin-top: 42px;
    background-color: #cbeaf8;  

}
.signup h2 {
    font-size: 34px;
    margin-bottom: 48px;
}

.signup fieldset {
    padding: 24px 36px 12px 36px;
    max-width: 600px;
    margin: 0 auto;

}

.signup legend {
    font-size: 42px;
    margin-bottom: 24px;
}

.signup label {
    font-size: 36px;
}

.signup input {
    margin: 0px 0px 36px 0px;
    width: 210px;
    height: 18px;
    border: solid 2px rgb(136, 174, 187);
    border-radius: 20px;
    font-family: Avenir;
    padding: 6px;
}

.signup .emailinput {
    width: 300px;
}

.signup .buttonholder {
    text-align: center;
    margin-top: 24px;
}

.signup .submitbutton {
    background-color:  #253b56;
    height: 50px;
    color: white;
    font-size: 28px;
    border-radius: 12px;
    font-family: 'Marck Script', cursive;
}

/**************************
State Styles
***************************/
#signup:hover{
    background-color: white;
    border-color: #253b56;
    color: #253b56;
}

#info:hover{
    background-color: white;
    border-color: #253b56;
    color: #253b56;
}

